#logo1{
    display inline-block;
    float: left;
    width: 20%
}
#logo2{
   display: inline-block;
    float: right;
    width: 27%;
}
#texto{
   display: inline-block;
   text-align: center
}
nav{
    clear: right;
}
.l1{
   display: inline-block;
    width: 150px;
    text-align: center;
    
    border: 3px darkred solid;
    background-color: aqua; 
}
main{
    text-align: center;
    border: 3px aqua solid;
}
jl{
   float: right; 
}