html{
    background-color: beige;
}
h1{
    border: 1px aqua solid;
    width: 450px;
    background-color: azure;
}
h2{
    background-color: chocolate;
    width: 830px
}
ol{
    background-color: antiquewhite;
}
.lñ{
    border: 10px purple solid;
}