html{
    background-color: antiquewhite;
}
.li{
    border: 3px darkred solid;
    width: 120px;
    background-color: bisque;
}
h4{
    background-color: azure;
    border: 2px aqua solid;
}